@model MVCMusicStoreApplication.Models.Album
<h2>DailyDeal</h2>
<div>
    <div class="panel-header">
        Here's the album from our daily deals
    </div>
    <div class="panel-body">
        <p>Title: @Model.Title</p>
        <p>Price: @Model.Price</p>
    </div>
    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, new { @class = "btn btn-primary" })
</div>

